RewriteEngine On

RewriteRule ^index$ index.php [NC,L]
RewriteRule ^about$ about.php [NC,L]
RewriteRule ^about-page$ about-page.php [NC,L]
RewriteRule ^clients-page$ clients-page.php [NC,L]
RewriteRule ^contact$ contact.php [NC,L]
RewriteRule ^portfolio$ portfolio.php [NC,L]
RewriteRule ^portfolio-page$ portfolio-page.php [NC,L]
RewriteRule ^portfolio-details$ portfolio-details.php [NC,L]
RewriteRule ^services$ services.php [NC,L]
RewriteRule ^services-page$ services-page.php [NC,L]
RewriteRule ^service-advertising-percetakan$ service-advertising-percetakan.php [NC,L]
RewriteRule ^service-epoxy$ service-epoxy.php [NC,L]
RewriteRule ^service-general-supplier$ service-general-supplier.php [NC,L]
RewriteRule ^service-interior$ service-interior.php [NC,L]
RewriteRule ^service-konveksi-apparel$ service-konveksi-apparel.php [NC,L]
RewriteRule ^service-merchandise$ service-merchandise.php [NC,L]
RewriteRule ^service-tour$ service-tour.php [NC,L]
RewriteRule ^service-translog$ service-translog.php [NC,L]
RewriteRule ^service-catering$ service-catering.php [NC,L]
RewriteRule ^starter-page$ starter-page.php [NC,L]
RewriteRule ^team$ team.php [NC,L]
RewriteRule ^team-page$ team-page.php [NC,L]
RewriteRule ^testimonials$ testimonials.php [NC,L]
RewriteRule ^footer$ footer.php [NC,L]
RewriteRule ^header$ header.php [NC,L]
